# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
messages.txt
vectors.txt

# OS
.DS_Store
Thumbs.db

# Env files
.env
.env.*

# VSCode settings
.vscode/

#doc
doc/vectordb.md
doc/*.url

#test
_test/